site_name: pastacopy
repo_url: https://github.com/eldarab/pastacopy
repo_name: pastacopy
theme:
  name: material

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - codehilite
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.emoji
  - pymdownx.tasklist
  - pymdownx.magiclink
  - pymdownx.betterem
  - pymdownx.tilde
plugins:
  - search
  - literate-nav
  - gen-files:
      scripts:
        - scripts/copy_readme_to_index.py
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/eldarab/pastacopy
