site_name: pastacopy
repo_url: https://github.com/eldarab/pastacopy
repo_name: pastacopy

watch:
  - scripts/generate_api_reference.py
  - scripts/generate_example_notebooks.py
  - scripts/generate_home_from_readme.py
  - mkdocs.yml
  - README.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.top
    - navigation.instant
    - navigation.expand
    - navigation.sections
    - navigation.tracking
    - navigation.indexes
    - navigation.tabs.sticky
    - navigation.tabs.sticky.scrollable

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - codehilite
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.emoji
  - pymdownx.tasklist
  - pymdownx.magiclink
  - pymdownx.betterem
  - pymdownx.tilde
plugins:
  - search
  - section-index
  - literate-nav
  - mkdocstrings:
      handlers: 
        python:
          docstring_style: google
          options:
            docstring_section_style: list

  - mkdocs-jupyter:
      execute: false
  - gen-files:
      scripts:
        - scripts/generate_api_reference.py
        - scripts/generate_example_notebooks.py
        - scripts/generate_home_from_readme.py
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/eldarab/pastacopy

nav:
  - Home: index.md
  - API Reference: api_reference/
  - Example Notebooks: example_notebooks/
