name: Bump version and Publish to PyPI

on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: 'Bump type'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch
      repository-url:
        description: 'Repository URL'
        required: true
        default: 'https://test.pypi.org/legacy/'
        type: choice
        options:
          - 'https://test.pypi.org/legacy/'
          - 'https://upload.pypi.org/legacy/'
      environment:
        description: 'Environment name'
        required: true
        default: 'testpypi'
        type: choice
        options:
          - testpypi
          - pypi

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  publish:
    runs-on: ubuntu-latest
    needs: ci
    environment:
      name: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4

      - name: Bump version
        uses: callowayproject/bump-my-version@1.2.0
        with:
          args: ${{ inputs.bump-type }}

      - uses: ./.github/actions/python-build
        with:
          python-version: "3.12"
      
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: ${{ inputs.repository-url }}
