name: Python Release

on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: 'Bump type'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  release:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Bump version
        uses: callowayproject/bump-my-version@1.2.0
        with:
          args: ${{ inputs.bump-type }}
      
      - name: Build
        uses: ./.github/workflows/build.yml  # python version configured in build.yml

      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
